@import url(./base/fonts.scss);
@import url(./base/reset.scss);
@import url(./sections/nav.scss);

h1 {
    color: #f20404 !important;
    text-align: left;
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}