.nav-pills .nav-link {
    border-radius: 0% !important;
    align-content: center !important;
}

.nav-pills .nav-link.active {
    background-color: black !important;
}



nav {
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .logo-imagen img {
            height: 83px !important;
            padding: 0% !important;
            margin-right: 5px !important;
        }

        .letras-logo {
            display: flex !important;
            flex-direction: column !important;
            margin: 5px !important;


            .texto-principal {
                font-size: xx-large;
                font-family: "Azeret Mono", monospace !important;
                color: black !important;
            }

            .texto-secundario {
                font-size: medium;
                font-family: "Azeret Mono", monospace !important;
            }
        }

        .logo-imagen {
            display: flex !important;
            flex-direction: column !important;
        }
    }

}