.container {
    position: relative;
    width: 100vw;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.intro {
    position: relative;
    width: 100wv;
    height: 100%;

    video {
        min-width: 100%;
        max-width: 100vw;
        overflow: hidden;
    }
}

.intro .caja-texto-index {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 98vw;
    height: 100%;
    mix-blend-mode: lighten;

}

h1 {
    $fuente_sanserif: "Outfit", sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    $fuente_sanserif: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
}