.carousel{
    img {
        height: 550px;
        overflow: hidden;
        border:  green 2px dashed; 
    }

    p {
        background-color: #e3e3e3;
        font-size: 15px;
        color: rgb(0, 0, 0);
        padding: 10px !important;
        margin: 0% !important;
    }

}