.carousel{
    img {
        height: 550px;
        overflow: hidden;
    }

    h2 {
        background-color: #ffffff;
        font-size: 25px;
        color: rgb(0, 0, 0);
        padding: 10px !important;
        text-align: center;
        $fuente_logo:"Azeret Mono", monospace !important;
    }

}