@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,700;1,6..12,700&display=swap');
$fuente_titulos:"Nunito Sans";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
$fuente_logo:"Azeret Mono", monospace;
$fuente_sanserif:"Outfit", sans-serif;

